/*
    Document   : style
    Created on : Jan 30, 2011, 4:03:23 PM
    Author     : saulpower1
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html {
    background-color: #707070;
    background-image: url('../images/site/roku_background.png');
    background-repeat: repeat-x;
}

body {
    display: block;
    width: 1024px;
    height: 100%;
    margin: auto;
    overflow: auto;
}

#wrapper {
    margin: auto;
    width: 894px;
    height: 100%;
}

#logo {
    background-image: url('../images/site/roku_logo.png');
    background-repeat: no-repeat;
    height: 105px;
    margin: 15px 20px;
}

#nav {
    margin-left: 28px;
    height: 60px;
    width: 840px;
}

#nav-left {
    float: left;
    height: 60px;
    width: 28px;
}

#nav-right {
    float: right;
    width: 26px;
    height: 60px;
}

#nav, #nav-left, #nav-right {
    background-color: #C3C3C3;
}

#nav p{
    color: white;
    font-size: 24px;
    margin: 0;
    padding-top: 15px;
    text-align: center;
}

#nav ul {
    margin: 0px;
    padding: 8px 0 0 20px;
    list-style: none;
}

#nav li {
    float: left;
}

ul#menu li a {
    display:block;
    height:52px;
    position:relative;
    outline: 0;
}

ul#menu li a.media {
    width: 150px;
}

ul#menu li a.roku {
    width: 151px;
    background-position: -150px 0px;
}

ul#menu li a span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:100;
    color: #555;
}

ul#menu li a.media span {
    background-position:0px -52px;
}

ul#menu li a.roku span {
    background-position:-150px -52px;
}

body.media ul#menu li a.media,
body.media ul#menu li a.media span{
    background-position:0px -52px;
}

body.roku ul#menu li a.roku,
body.roku ul#menu li a.roku span{
    background-position:-150px -52px;
}

ul#menu li a span:hover {
    cursor:pointer;
}

#nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

#nav a:hover {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 24px;
}

.sidebar {
    float: left;
    width: 243px;
    height: 620px;
    min-height: 300px;
    background-image: url('../images/site/roku_sidebar.png');
    background-repeat: repeat-y;
    padding: 10px 4px 0 12px;
}

.sidebarText {
    padding-left: 10px;
}

.myButton{
    background: url('../images/site/roku_side_button.png') no-repeat;
    cursor: pointer;
    padding: 18px 77px;
    outline: 0;
    display: block;
    text-decoration: none;
    color: black;
}

.myButton_pressed{
    background: url('../images/site/roku_side_button_pressed.png') no-repeat;
    cursor: pointer;
    padding: 18px 77px;
    outline: 0;
    display: block;
    text-decoration: none;
    color: black;
}

#table_cont {
    height: 100%;
}

.main {
    width: 600px;
    height: 620px;
    min-height: 300px;
    margin-left: 259px;
    background-image: url('../images/site/roku_main.png');
    background-repeat: repeat-y;
    padding: 10px 24px 0 12px;
}

#panel-cont-bot {
    background-image: url('../images/site/roku_main_bot.png');
    width: 894px;
    height: 24px;
    clear: both;
}

#panel-cont-bot-alt {
    background-image: url('../images/site/roku_main_bot_alt.png');
    width: 894px;
    height: 24px;
}

#footer {
    margin: 20px 0;
    text-align: center;
    clear: both;
    color: #e1e1e1;
}

#footer a {
    color: #e1e1e1;
    text-decoration: none;
    margin: 0 20px;
}

#footer a:hover {
    color: #9423cb;
}

#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:4;
}
#popupContact{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    width:515px;
    background:#FFFFFF;
    border:2px solid #cecece;
    z-index:5;
    padding:12px;
    font-size:13px;
}
#popupContact h1{
    text-align:left;
    color:#9423cb;
    font-size:22px;
    font-weight:700;
    border-bottom:1px dotted #D3D3D3;
    padding-bottom:2px;
    margin-bottom:5px;
}
#popupContactClose{
    font-size:14px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#9423cb;
    font-weight:700;
    display:block;
}

#popupPoster {
    float: left;
    max-width: 210px;
    max-height: 260px;
}

#metaTable {
    width: 98%;
}

#metaTable input, #metaInfo input {
    width: 95%;
}

#metaInfo td {
    text-align: center;
}

#metaInfo {
    padding-left: 12px;
    margin-left: 214px;
}

#metaInfo tr {
    margin-bottom: 10px;
}

#metaInfo td {
    width: 60px;
    height: 25px;
    font-size: 13px;
}

#metaInfo a {
    color: #9423cb;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#metaInfo p {
    margin-top: 5px;
}

#metaInfo textarea {
    height: 150px;
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
}

#metaTable table {
    padding: 10px;
}

.tableMenu {
    right: 0;
    margin-top: 44px;
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 110px;
    height: 30px;
    background-image: url('../images/site/watchButton.png');
}

.watchButton {
    width: 50%;
    margin-right: 50%;
    height: 100%;
    display: block;
    outline: 0;
}

.watchButtonNormal {
    width: 100%;
    height: 100%;
    display: block;
    outline: 0;
}

#playercontainer {
    width: 855px;
    background-image: url('../images/site/roku_full.png');
    background-repeat: repeat-y;
    padding: 20px;
}

#mediaplayer {
    margin: auto;
    display: block;
}

/* green button - start */
.green {
    color: white;
    background-color: #41A128;
    border-width: 1px;
}

/* blue button - stop */
.blue {
    color: white;
    background-color: #6A93D4;
    border-width: 1px;
}

div#progress_info {
    opacity: 0;
}

/* progress container */
div#progress_container {
    border: 6px double #ccc;
    width: 200px;
    margin: 20px 0 0 0;
    padding: 0px;
    text-align: left;
}

/* progress bar */
div#progress {
    color: white;
    background-color: #FF8D40;
    height: 12px;
    padding-bottom: 2px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
}

div.loading {
    margin: 125px 0 0 260px;
}

div.loading_playlist {
    margin: 148px 0 0 88px;
}

div.loading_movielist {
    margin: 115px 0 0 200px;
}

.loading img, .loading_playlist img, .loading_movielist img {
    margin: 0 0 5px 18px;
}

#playlistTable {
    width: 100%;
}

#playlistTable td {
    padding: 5px 0;
}

#playlistTable .head {
    border-bottom: 1px solid #E1E1E1;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}

.highlight_row {
    background-color: #E1E1E1;
}

#playlists {
    width: 233px;
    height: 340px;
    color: #000000;
    padding: 5px;
    overflow: auto;
}

#playlists a {
    text-decoration: none;
    color: #FFFFFF;
}

#playlists tr {
    cursor: pointer;
}

#dialog {
    display: none;
    overflow: hidden;
}

#dialog p {
    padding: 10px 0 5px 0;
    margin: 0;
}

.dialog_info {
    margin-left: 115px;
}

.dialog_table {
    width: 330px;
}

.dialog_table td {
    vertical-align: top;
    padding-bottom: 2px;
}

#image_left {
    float: left;
    max-width: 100px;
    max-height: 150px;
}

#media_list {
    overflow: auto;
    width: 100%;
    max-height: 282px;
}

.movie_odd {
    background: #F2F2F1;
}

.ui-state-default, .ui-widget-content .ui-state-default {
color: #600A8B;
}

.ui-widget-overlay {
    background: #000000;
    opacity: 0.7;
}

.button_fill {
    width: 100%;
}

.setting {
    font-weight: bold;
}

.jGrowl-message a{
    color: #9423CB;
}